$fa-font-path: "./fonts" !default;

@import "../../node_modules/font-awesome/scss/font-awesome.scss";
@import "../../node_modules/foundation-sites/scss/foundation.scss";
@import "./toolbar.scss";
@import "./option-panel.scss";



body {
  background-color: #8ead86;

  li {
    list-style-type: none;
  }
}

button {
  outline: none;
}

.hidden {
  visibility: hidden;
}

#viewport {
  size: 100%;
  height: 100vh;
}