@import "app-settings";

.option-panel {
  background-color: lighten($primary-color, 30);
  position: absolute;
  left: $toolbar-medium-width;
  width: $option-panel-medium-width;
  height: rem-calc(300);

  h1 {
    font-size: rem-calc(24);
    text-align: center !important;
  }
}

.panel-show {
  left: $toolbar-medium-width;
  opacity: 1;
  transition: opacity 200ms, left 400ms;
}

.panel-hide {
  left: -$toolbar-medium-width;
  opacity: 0;
  z-index: -1;
  transition: opacity 200ms, left 400ms;
}