@import "app_settings";

.option-panel {
  position: absolute;
  left: $toolbar-medium-width;
  top: $navbar-height;
  width: $option-panel-medium-width;
  height: 300px;
  padding: 10px;
  z-index: 2;
  h1 {
    font-size: 24px;
    text-align: center !important;
  }
}

.panel-show {
  opacity: 1;
  transition: opacity 200ms;
}

.panel-hide {
  opacity: 0;
  transition: opacity 200ms;
}